<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odvolávky</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Odvolávky</h1>
        <form action="/add" method="POST">
            <input type="text" name="batch-id" placeholder="Batch ID" required>
            <input type="text" name="demand-id" placeholder="Demand ID" required>
            <input type="text" name="article-nr" placeholder="Article Number" required>
            <input type="number" name="demand-state" placeholder="Demand State" required step="1">
            <input type="text" name="pack-id" placeholder="Pack ID" required>
            <input type="number" name="storage" placeholder="Storage" required step="1">
            <input type="number" name="pack-quantity" placeholder="Pack Quantity" required step="1">
            <input type="number" name="sequence-place-of-usage" placeholder="Sequence Place of Usage" required step="1">
            <input type="datetime-local" name="request-time" placeholder="Request Time">
            <input type="datetime-local" name="pick-time" placeholder="Pick Time">
            <input type="datetime-local" name="delivery-time" placeholder="Delivery Time">
            <input type="number" name="remaining-pack-quantity" placeholder="Remaining pack quantity">
            <button type="submit">Add Entry</button>
        </form>
    <H1>Obsah souboru</H1>
        <table>
            <thead>
                <tr>
                    <th>Batch ID</th>
                    <th>Demand ID</th>
                    <th>Article Number</th>
                    <th>Demand State</th>
                    <th>Pack ID</th>
                    <th>Storage</th>
                    <th>Pack Quantity</th>
                    <th>Sequence Place of Usage</th>
                    <th>Request Time</th>
                    <th>Pick Time</th>
                    <th>Delivery Time</th>
                    <th>Remaining pack quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{ entry['batch-id'] }}</td>
                    <td>{{ entry['demand-id'] }}</td>
                    <td>{{ entry['article-nr'] }}</td>
                    <td>{{ entry['demand-state'] }}</td>
                    <td>{{ entry['pack-id'] }}</td>
                    <td>{{ entry['storage'] }}</td>
                    <td>{{ entry['pack-quantity'] }}</td>
                    <td>{{ entry['sequence-place-of-usage'] }}</td>
                    <td>{{ entry['request-time'] }}</td>
                    <td>{{ entry['pick-time'] }}</td>
                    <td>{{ entry['delivery-time'] }}</td>
                    <td>{{ entry['remaining-pack-quantity'] }}</td>
                    <td><a href="/delete/{{ loop.index - 1 }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




        <div class="log">
            <h2>Log</h2>
            <pre>
                {% for log_entry in log %}
                {{ log_entry }}
                {% endfor %}
            </pre>
        </div>
    </div>
</body>
</html>
